#Part 1
query = human_genome
path_to_genome_repository = /home/grandchamp/Bureau/post_doc/Work_germany/Training_DESMAN/training_file/genome_human_strat2
path_to_transcriptome_repository = /home/grandchamp/Bureau/post_doc/Work_germany/Training_DESMAN/training_file/transcriptome_human_strat2
TPM_threeshold = 0.5
transcript_overlap = intronic  // a tree with the same names as the genome files
ORFs_choice = longest
five_prime = 0
three_prime = 0
filter_genic = False
filter_TE = False
rm_undir_transc = False

#Part 2
link_database_outgroup_prot =  /home/grandchamp/Bureau/post_doc/Work_germany/Training_DESMAN/training_file/outgroup_mammals/peptides/Mammal/all_mammal_peptide.fa
parameters_database_prot =   --more-sensitive
link_database_outgroup_nucl = /home/grandchamp/Bureau/post_doc/Work_germany/Training_DESMAN/training_file/outgroup_mammals/DNA_rna_seq/Mammal/all_mammal_ncrna.fa
parameters_database_nucl =  0.01

#Part 3
rec_best_hit =  True
synteny_window = 5
premature_stop = 50


